<html>
  <head>
    <link type="text/css" rel="stylesheet" href="/static/css/main.css" />
  </head>
  <body>
    <h2>Hello {{ username }}!</h2>
    {% if username == "User" %}

    <h2> What is your Name?</h2>
    <form action="name/" method="post">
      {% csrf_token %}
      <div><textarea name="content" rows="1" cols="60"></textarea></div>
      <div><input type="submit" value="Continue"></div>
    </form>

    {% else %}
    <h2> What is your favorite color?</h2>
    <form action="../color/" method="post">
      {% csrf_token %}
        <input type="hidden" name="content" value="{{ username }}" />
        <div><textarea name="color" rows="1" cols="60"></textarea></div>
      <div><input type="submit" value="Continue"></div>
    </form>

    {% endif %}


  </body>
</html>