{% load url from future %}
<button class="button1" type="button" id='button_modify{{ lexid }}' data-href="modify{{ lexid }}">
    {% if lexid == 'New' %}
        Add New
    {% elif editmode == 'edit' or editmode == 'adjudication' %}
        View/Modify
    {% else %}
        View
    {% endif %}
</button>

{% if editmode == 'adjudication' and status == 'deleted' %}
    <span style="color:red">Marked for Deletion</span>
{% endif %}

<br>

<form action="{% url 'entry' editmode=editmode %}" method="post" id="modify{{ lexid }}" class="modify" style="padding:10px 5px 0px 20px;">
    {% csrf_token %}
    <span class="required" style="color:red">(required fields)</span><br><br>
    <label class="required">lexeme (lx):</label><input name="lex" type="text" class="short required" value="{{ lex|default_if_none:'' }}" id="lex">

    {% if language == "English" %}
        <input type="radio" name="language" value="Arapaho">Arapaho
        <input type="radio" name="language" value="English" checked>English<br>
    {% else %}
        <input type="radio" name="language" value="Arapaho" checked>Arapaho
        <input type="radio" name="language" value="English">English<br>
    {% endif %}

    <label>underlying (mn):</label><input name="base_form" type="text" class="short" value="{{ base_form|default_if_none:'' }}"><br>
    <label>morphology (mr):</label><input name="morphology" type="text" value="{{ morphology|default_if_none:'' }}"><br>

    <br>


    <label>allolexeme (all):</label>
    <span class="input_allo_wrap{{ lexid }}">
        {% if allolexemes|length == 0 %}
            <input name="allolexemes" size="20" type="text" class="short">
        {% else %}
            {% for vf in allolexemes%}
                <span>
                {%if forloop.counter > 1 %}<br><label>&nbsp;</label>{% endif %}
                    <input name="allolexemes" size="20" type="text" value="{{ vf }}" class="short">
                <a href="#" class="remove_field_allo">(remove)</a></span>
            {% endfor %}
        {% endif %}
        {% if editmode == 'edit' or editmode == 'adjudication'  %}
            <button class="add_allo_button{{ lexid }}" n="allolexemes" type="button">+</button>
        {% endif %}
        <br>
    </span>

        <label>variant forms:</label>
    <span class="input_fields_wrap{{ lexid }}">
        {% if variant_forms|length == 0 %}
            <input name="variant_forms" size="20" type="text" class="short">
        {% else %}
            {% for vf in variant_forms%}
                <span>
                {%if forloop.counter > 1 %}<br><label>&nbsp;</label>{% endif %}
                <input name="variant_forms" size="20" type="text" value="{{ vf }}" class="short">
                <a href="#" class="remove_field">(remove)</a></span>
            {% endfor %}
        {% endif %}
        {% if editmode == 'edit' or editmode == 'adjudication'  %}
            <button class="add_field_button{{ lexid }}" n="variant_forms" type="button">+</button>
        {% endif %}
        <br>
    </span>

        <br>


    <label>parent lex:</label><input name="parent_lex" type="text" class="short" value="{{ parent_lex|default_if_none:'' }}" id="parent_lex_{{ lexid }}">
    {% if parent_rel == "variant" %}
        <input type="radio" name="parent_rel" value="allolexeme">Allolexeme or
        <input type="radio" name="parent_rel" value="variant" checked>Variant Form
        <input type="radio" name="parent_rel" value="" >None<br>
    {% else %}
        {% if parent_rel == "allolexeme" %}
            <input type="radio" name="parent_rel" value="allolexeme" checked>Allolexeme
            <input type="radio" name="parent_rel" value="variant">Variant Form
            <input type="radio" name="parent_rel" value="" >None<br>
        {% else %}
            <input type="radio" name="parent_rel" value="allolexeme" >Allolexeme
            <input type="radio" name="parent_rel" value="variant">Variant Form
            <input type="radio" name="parent_rel" value="" checked>None<br>
        {% endif %}
    {% endif %}

    <label>parent lexical ID:</label> <input name="parent_lexid" type="text" class="short" value="{{ parent_lexid|default_if_none:'' }}" id="parent_lexid_{{ lexid }}"> <br>
    <script>
        $( document ).ready(function() {
          $("#parent_lex_{{ lexid }}").autocomplete({
            source: "/get_lex/",
            minLength: 3,
            select: function(event, ui) {
                $("#parent_lexid_{{ lexid }}").val(ui.item.id);  // ui.item.value contains the id of the selected label
            }
          });
        });
    </script>
    <br>

    <label class="required">pos (ps):</label><input name="pos" type="text" class="short" required id="pos" value="{{ pos|default_if_none:'' }}"><br>
    <label>main usage (ue):</label><input name="usage_main" type="text" class="long" value="{{ usage_main|default_if_none:'' }}"><br>
    <label class="required">gloss (ge):</label><input name="gloss" type="text" class="long" required value="{{ gloss|default_if_none:'' }}"><br>
    <label>sem. domain (sd):</label><input name="semantic_domain" type="text" value="{{ semantic_domain|default_if_none:'' }}"><br>
    <label>literal (lt):</label><input name="literal" type="text" value="{{ literal|default_if_none:'' }}"><br>

    <label>derivations:</label>
    {% if editmode == 'edit' or editmode == 'adjudication'  %}
        <button class="add_deriv_button{{ lexid }}" n="deriv_value" type="button">+</button><br>
    {% endif %}

    <span class="input_deriv_wrap{{ lexid }}">
    {% for dkey,dvalue in derivations.items %}
            <div class="derivations">
            <select name="deriv_type" class="deriv_type_{{ lexid }}_{{ forloop.counter }}">
                <option value="">--Select--</option>
                <option value="pl" class="noun">pl</option>
                <option value="obv" class="na">obv sg</option>
                <option value="obv.pl" class="na">obv pl</option>
                <option value="poss3" class="noun">3 poss</option>
                <option value="loc" class="noun">loc</option>
                <option value="voc" class="na">voc</option>
                <option value="s3" class="verb">3 s</option>
            </select>
            <script>
                $( document ).ready(function() {
                    $(".deriv_type_{{ lexid }}_{{ forloop.counter }}").val("{{ dkey }}");
                });
            </script>
            <input name="deriv_value" size="20" type="text" class="short" value="{{ dvalue }}">
        <a href="#" class="remove_field_deriv">(remove)</a>
        </div>
    {% endfor %}
    </span>

    <br>
    <label>etymology (et):</label><input name="etymology" type="text" value="{{ etymology|default_if_none:'' }}"><br>
    <label>cultural:</label><textarea name="cultural" cols="80" rows="2">{{ cultural|default_if_none:'' }}</textarea><br>
    <br>

    <label>date added:</label>{{ date_added }} <br>
    <label>last modified:</label>{{ date_modified }}<br>
    <label>last modified by:</label>{{ user }}<br>

    {% if editmode == 'adjudication' %}
        <label>lexical id:</label>{{ lexid_original }}<br>
    {% else %}
        <label>lexical id:</label>{{ lexid }}<br>
    {% endif%}
    <!-- SENSES -->
    <span class="sense_wrap{{ lexid }}">
    {% for sense in senses %}
        <div class="senses">
            <h4>Sense {{ forloop.counter }}: </h4><a href="#" class="remove_field_sense">(remove)</a><br>

            <label class="required">definition (de):</label> <input name="definition" size="80" type="text" value="{{ sense.definition|default_if_none:'' }}" required><br>
            <label>usage (ue):</label> <input name="usage" size="80" type="text" value="{{ sense.usage|default_if_none:'' }}"><br>
            <label>scientific (sc):</label> <input name="scientific" size="80" type="text" value="{{ sense.scientific|default_if_none:'' }}"><br>
            <label>synonym (sy):</label> <input name="synonym" size="80" type="text" value="{{ sense.synonym|default_if_none:'' }}"><br>
            <label>sources (so):</label> <input name="sources" size="80" type="text" value="{{ sense.sources|default_if_none:'' }}"><br>
            <label>note (nt):</label> <textarea name="note" cols="60" rows="2">{{ sense.note|default_if_none:'' }}</textarea><br>
            <label>example:</label> <textarea name="example" cols="60" rows="2">{{ sense.example|default_if_none:'' }}</textarea><br>

        </div>
    {% endfor %}
    </span>

    {% if editmode == 'edit' or editmode == 'adjudication' %}
        <span class="senses"><button class="add_sense{{ lexid }}" type="button">Add Sense</button></span>

        <br/>

        <br/>
        {% if editmode == 'edit' %}
            <button type="submit">Save Changes</button>
            {% if lexid != 'New' %}
            <button type="submit" name="remove_lexical_item" class="remove_lexical_item">Remove Entry</button>
            {% endif %}
        {% else %}
            <button type="submit">Accept Changes</button>
            <button type="submit" name="discard_changes">Discard Changes</button>
        {% endif %}
        <br />
    {% endif %}

    {% if editmode == 'adjudication' %}
        <input name="lexid" value="{{ lexid_original }}" type="text" readonly hidden><br>

        {% if user != '' %}
            <input name="user" value = "{{ user }}" type="text" readonly hidden>
        {% else %}
            <input name="user" value = "{{ curr_user }}" type="text" readonly hidden>
        {% endif %}
    {% else %}
        <input name="lexid" value="{{ lexid }}" type="text" readonly hidden><br>
        <input name="user" value = "{{ curr_user }}" type="text" readonly hidden>
    {% endif %}

    {% if editmode == 'adjudication' and status == 'deleted' %}
         <input name="status" value = "deleted" type="text" readonly hidden>
    {% endif %}


    <input name="entry" value = "{{ entry }}" type="text" readonly hidden>
    <input name="entry_date" value = "{{ entry_date }}" type="text" readonly hidden>
    <input name="entry_id" value = "{{ entry_id }}" type="text" readonly hidden><br>

</form>

<script>
    $(document).ready(slidingDiv('button_modify{{ lexid }}'));
    $(document).ready(multipleFields('{{ lexid }}'));
    $(document).ready(multipleAllolexemes('{{ lexid }}'));
    $(document).ready(multipleDerivations('{{ lexid }}'));
    $(document).ready(multipleSenses('{{ lexid }}'));
    {% if editmode == 'edit' %}
         $(document).ready(dataChanged('{{ lexid }}'));
    {% endif %}
</script>
