<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Arapaho Lexical Dictionary</title>
    {% load staticfiles %}
    <link type="text/css" rel="stylesheet" href="{% static "main.css" %}">
    <link type="text/css" rel="stylesheet" href="{% static "main.js" %}">
</head>
<body>
    <h1>Arapaho Lexical Dictionary</h1>
    Go To: <a href="/">Main Page</a>

    <h2>Search Lexicon</h2>
    <form id="search" action="search" method="post">
        {% csrf_token %}
        <label>lex (lx):</label> <input name="lex" type="text" value="{{ lex|default_if_none:'' }}"><br>
        <label>underlying (mn):</label> <input name="base_form" type="text" value="{{ base_form|default_if_none:'' }}"><br>
        <label>pos (ps):</label> <input name="pos" type="text" value="{{ pos|default_if_none:'' }}"><br>
        <label>gloss (ge):</label> <input name="gloss" type="text" value="{{ gloss|default_if_none:'' }}"><br>
        <input type="submit" value="Search">
    </form>
    <h2>New Entry</h2>
    <form action="entry" method="post">
        Senses<br>
        definition: <input name="definition" type="text"><br>
        usage: <input name="usage" type="text"><br>
        pl: <input name="pl" type="text"><br>
        obv: <input name="obv" type="text"><br>
        obv.sg: <input name="obvsg" type="text"><br>
        obv.pl: <input name="obvpl" type="text"><br>
        poss3: <input name="poss3" type="text"><br>
        loc: <input name="loc" type="text"><br>
        voc: <input name="voc" type="text"><br>
        s3: <input name="s3" type="text"><br>
        scientific: <input name="scientific" type="text"><br>
        synonym: <input name="synonym" type="text"><br>
        note: <input name="note" type="text"><br>
        sources: <input name="sources" type="text"><br>
    </form>

    <form action="entry" method="post">
        <label>lexeme (lx):</label> <input name="lex" type="text" value="{{ lex }}"><br>
        <label>underlying (mn):</label> <input name="base_form" type="text"><br>
        <label>allolexeme (all):</label>
        <span class="input_fields_wrap">
            <input name="variant_forms[]" type="text">
            <button class="add_field_button" n="variant_forms[]" type="button">+</button>
        </span><br>
        <label>pos (ps):</label> <input name="pos" type="text"><br>
        <label>gloss (ge) :</label> <input name="gloss" type="text"><br>
        <label>morphology (mr):</label> <input name="morphology" type="text"><br>
        <label>literal (lt):</label> <input name="literal" type="text"><br>
        <label>etymology (et):</label> <input name="etymology" type="text"><br>
        <label>cultural:</label> <textarea name="cultural" cols="80" rows="2" type="text"></textarea><br>
        <label>language:</label> <input class="lang" type="radio" name="language" value="Arapaho" checked>Arapaho
                                 <input class="lang" type="radio" name="language" value="English">English
                                 <input class="lang" type="radio" name="language" value="Other">Other<br>
        <!-- SENSES -->
        <span class="sense_wrap">
        </span>
        <span class="senses">
            <button class="add_sense" type="button">Add Sense</button>
        </span>
        <input name="lex_item_key" value="NONE" type="text" readonly hidden><br>
        <input type="submit" value="Create New Entry">
    </form>
</body>
</html>